@model My.RolePermission.Model.SMLOG
@using My.RolePermission.Model;
@using My.RolePermission.WebApp.Models;
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head id="MyHead">
    <title>@ViewBag.Title</title>
</head>
<body>
<div id="content" region="center" fit="true">
    <div id="divQuery" style=" padding: 5px; font-size: 12px;" title="查询列表" class="easyui-toolbar">
        开始日期：<input class="easyui-datebox" name="LOG_DATETIMEStart_Time" id="LOG_DATETIMEStart_Time"data-options="formatter:myformatter,parser:myparser"/>&nbsp;
结束日期：<input class="easyui-datebox" name="LOG_DATETIMEEnd_Time" id="LOG_DATETIMEEnd_Time"data-options="formatter:myformatter,parser:myparser"/>
        <span>@Html.LabelFor(model => model.OPERATION_TYPE)：</span> <span>@Html.DropDownListFor(model => model.OPERATION_TYPE, new SysFieldModels().GetSysField("SMLOG", "STATUS"),new{@class="easyui-combobox" })</span>
        <a href="javascript:flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查询</a>
         <a href="javascript:resetData()" class="easyui-linkbutton" data-options="iconCls:'icon-redo'">
            重置</a>
         </div>
    <table id="flexigridData">
    </table>    
    </div>
    <!------------------------弹出用户浏览信息的弹出层---------------------------------->
    <div id="DivBrowerLog" class="easyui-dialog" style="width: 700px; height: 220px;
        padding: 10px 10px" closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
            <table id="tblBrower" class="usertableborder2" cellspacing="1" cellpadding="3" width="98%"
                align="center" border="0">
                <tr class="usertablerow1">
                    <td class="width2">操作时间：</td>
                    <td  style="width:220px;">
                     <span id="v_OpratorTime"></span>
                    </td>
                    <td class="_width"> 操作用户：</td>
                    <td>
                       <span id="v_Uid"></span>
                    </td>
                    <td class="width0"> 功能编号：</td>
                    <td>
                       <span id="v_FuncCode"></span>
                    </td>
                </tr>
                <tr class="usertablerow2">
                <td>操作的类+函数名：</td>
                    <td style="word-wrap:break-word;word-break:break-all;">
                       <span id="v_ClassFunc"></span>
                    </td>
                    <td> 操作类型：</td>
                    <td>
                       <span id="v_OpratorType"></span>
                    </td>
                    <td> 日志重要度：</td>
                    <td>
                       <span id="v_ImportantLevel"></span>
                    </td>
                </tr>
                <tr class="usertablerow1">
                <td  noWrap="noWrap" class="width0" > 操作描述：</td>
                    <td colspan="5" class="remark">
                      <div style="word-break:break-all; overflow-y:auto; height:50px;" id="v_Remark"></div>
                    </td>
                </tr>
            </table>
    </div>
</body>
@section scripts { 
 <script src="/DLL/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">
        document.getElementById(;;
        //回车触发查询
        $(function () {
            document.onkeydown = function (e) {
                var ev = document.all ? window.event : e;
                if (ev.keyCode == 13) {
                    flexiQuery();
                }
            }
        });
        $(function () {
            var searchH = $("#divQuery").height();
            var h = document.documentElement.clientHeight - searchH - 26;
            $('#flexigridData').datagrid({
                title: '日志', //列表的标题
                iconCls: 'icon-site',
                //                fit: true, //列表自动适应宽度
                width: 'auto',
                singleSelect: true,
                selectOnCheck: true, //选中行时复选框选中
                checkOnSelect: true, //选中复选框时选中行
                height: h,
                nowrap: false, //True 就会把数据显示在一行里。
                striped: true, //True 就把行条纹化。（即奇偶行使用不同背景色）
                collapsible: true, //可调节列宽
                remoteSort: true, //定义是否从服务器给数据排序。
                url: 'SysLog/GetData', //获取数据的url
                sortName: 'LOG_ID', //定义可以排序的列
                sortOrder: 'desc', //定义列的排序顺序，只能用 'asc' 或 'desc'
                idField: 'LOG_ID', //标识字段
                onDblClickRow: function (rowIndex, rowData) {
                    getDetail(rowData["LOG_ID"]);
                }, //双击显示详情

                //toolbar: [],
                columns: [[
					  {
					      field: 'LOG_DATETIME', title: '@Html.LabelFor(model => model.LOG_DATETIME)', width: 130, sortable: true, formatter: function (value, rec) {
					          if (value) {
					              return dateTimeConvert(value);
					          }
					      }
					  }
					, { field: 'USER_ID', title: '@Html.LabelFor(model => model.USER_ID)', width: 80, sortable: true }
					, { field: 'FUNC_CODE', title: '@Html.LabelFor(model => model.FUNC_CODE)', width: 80, sortable: true }
					, { field: 'OPERATION_TYPE', title: '@Html.LabelFor(model => model.OPERATION_TYPE)', width: 80, sortable: true }
                    , { field: 'REMARK', title: '@Html.LabelFor(model => model.REMARK)', width: 200 }
                ]],
                pagination: true, //在 datagrid 的底部显示分页栏。
                rownumbers: true //显示行号的列

            });

            //如果列表页出现在弹出框中，则只显示查询和选择按钮 
            var parent = window.dialogArguments; //获取父页面
            //异步获取按钮          
            if (parent == "undefined" || parent == null) {
                //首先获取iframe标签的id值

                var iframeid = window.parent.$('#tabs').tabs('getSelected').find('iframe').attr("id");

                //然后关闭AJAX相应的缓存
                $.ajaxSetup({
                    cache: false
                });

                //                //获取按钮值
                //                $.getJSON("../Home/GetToolbar", { id: iframeid }, function (data) {
                //                    if (data == null) {
                //                        return;
                //                    }
                //                    $('#flexigridData').datagrid("addToolbarItem", data);

                //                });

            } else {
                //添加选择按钮
                $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
            }

        });

        //“查询”按钮，弹出查询框
        function flexiQuery() {
            //执行查询                        
            $('#flexigridData').datagrid('reload', {
                LOG_DATETIMEStart_Time: $("#LOG_DATETIMEStart_Time").datebox('getValue'),
                LOG_DATETIMEEnd_Time: $("#LOG_DATETIMEEnd_Time").datebox('getValue'),
                OPERATION_TYPE: $("#OPERATION_TYPE").combobox('getValue')
            });
        }
        function resetData() {
            $("#LOG_DATETIMEStart_Time").textbox('setValue', '')//赋值 
            $("#LOG_DATETIMEEnd_Time").textbox('setValue', '')//赋值 
            $("#OPERATION_TYPE").combobox('setValue', '')
        }

        //“选择”按钮，在其他（与此页面有关联）的页面中，此页面以弹出框的形式出现，选择页面中的数据
        function flexiSelect() {

            var rows = $('#flexigridData').datagrid('getSelections');
            if (rows.length == 0) {
                $.messager.alert('操作提示', '请选择数据!', 'warning');
                return false;
            }

            var arr = [];
            for (var i = 0; i < rows.length; i++) {
                arr.push(rows[i].Id);
            }
            arr.push("^");
            for (var f = 0; f < rows.length; f++) {
                arr.push(rows[f].Name);
            }
            //主键列和显示列之间用 ^ 分割   每一项用 , 分割
            if (arr.length > 0) {//一条数据和多于一条
                returnParent(arr.join("&")); //每一项用 & 分割
            }
        }
        //导航到查看详细的按钮
        function getView() {
            //首先取出来用户选择的数据的ID
            var rows = $("#flexigridData").datagrid("getSelections");
            //首先取出来值判断用户只能选择一个
            if (rows.length != 1) {
                $.messager.alert("友情提示", "每次只能修改/浏览一条，你已经选择了<font color='red'  size='6'>" + rows.length + "</font>条", "error");
                return;
            }
            var id = rows[0].LOG_ID;
            getDetail(id);
        };

        function getDetail(id) {
            //处理浏览的信息，弹出浏览狂，然后显示浏览信息的相信信息
            $("#DivBrowerLog").dialog('open').dialog('setTitle', '日志浏览信息');
            //构造参数发送给后台
            $.get("/SysLog/Details", { "id": id }, function (logInfo) {
                $("#v_OpratorTime").text(dateTimeConvert(logInfo.LOG_DATETIME));
                $("#v_Uid").text(logInfo.UserName);
                $("#v_FuncCode").text(logInfo.FUNC_CODE);
                $("#v_ClassFunc").text(logInfo.CLASSNAME);
                $("#v_OpratorType").text(logInfo.OperaterTypeName);
                $("#v_ImportantLevel").text(logInfo.IMPORTANCEDEGREE);
                $("#v_Remark").text(logInfo.REMARK);
            });
        }

        //导航到创建的按钮
        function flexiCreate() {
            window.location.href = "/SysLog/Create";
            return false;
        }
        //导航到修改的按钮
        function flexiModify() {

            var arr = $('#flexigridData').datagrid('getSelections');

            if (arr.length == 1) {
                window.location.href = "../SysLog/Edit/" + arr[0].Id;

            } else {
                $.messager.alert('操作提示', '请选择一条数据!', 'warning');
            }
            return false;

        };
        //删除的按钮
        function flexiDelete() {

            var rows = $('#flexigridData').datagrid('getSelections');
            if (rows.length == 0) {
                $.messager.alert('操作提示', '请选择数据!', 'warning');
                return false;
            }

            var arr = [];
            for (var i = 0; i < rows.length; i++) {
                arr.push(rows[i].Id);
            }

            $.messager.confirm('操作提示', "确认删除这 " + arr.length + " 项吗？", function (r) {
                if (r) {
                    $.post("../SysPerson/Delete", { query: arr.join(",") }, function (res) {
                        if (res == "OK") {
                            //移除删除的数据
                            $("#flexigridData").datagrid("reload");
                            $("#flexigridData").datagrid("clearSelections");
                            $.messager.alert('操作提示', '删除成功!', 'info');
                        }
                        else {
                            if (res == "") {
                                $.messager.alert('操作提示', '删除失败!请查看该数据与其他模块下的信息的关联，或联系管理员。', 'info');
                            }
                            else {
                                $.messager.alert('操作提示', res, 'info');
                            }
                        }
                    });
                }
            });

        };
    </script>
    }
</html>
